@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*** Base Elements ***/
body {
  background-color: #f7f7f7;
}

/*** Introduction ***/
h1 {
  color: #2a2a2a;
  font-family: 'Montserrat', sans-serif;
}

