@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*** Base Elements ***/
/*body {
  background-color: #f7f7f7;
}*/

/*** Introduction ***/
h1 {
  color: #2a2a2a;
  font-family: 'Montserrat', sans-serif;
}

.resume-box {
  border-color: #fff;
  border-style: solid;
  border-width: 4px;
}

img {
  -moz-transform:scale(0.3);
  -webkit-transform:scale(0.3);
  transform:scale(0.3);
}

.container{
  height: 1800px;
}

.header {
   text-align: center;
}

nav {
  background-color: #efefef;
  border-top: 2px solid #666;
  border-bottom: 2px solid #666;
  padding: 15px;
  width: 100%;
}

nav ul {
  margin: 0;
  padding:0;
  list-style:none;
}
li {
  display: inline-block;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}