@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/*** Base Elements ***/
body {
  background-image: url("../images/macbook.jpg");
  background-repeat: no-repeat;
}

/*** Introduction ***/
.hello {
  color: #d5d5d5;
  font-family: 'Montserrat', sans-serif;
}

.hello h1 {
  float: left;
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -1.0px;
  margin: 255px 40px -30px 130px;
  text-transform: uppercase;
}

.hello h2 {
  float: left;
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 50px;
  margin: 263px 0 0 0;
  text-transform: uppercase;
}

.hello hr {
  background-color: #727272;
  height: 0.5px;
  margin: 0;
  padding: 0 0 1px 0;
  width: 48%;
}

/*** Navbar ***/
#navigation {
  margin-top: 15px;
}

#navigation ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#navigation ul a {
  color: #333;
  display: block;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 46px;
  text-decoration: none;
}

#navigation .menu-item-2 a {
  color: #F7003F;
  letter-spacing: 0.35px;
}

#navigation .menu-item-3 a {
  color: #F7003F;
  letter-spacing: 0.5px;
}

#navigation .menu-item-4 a {
  color: #F7003F;
  letter-spacing: 0.5px;
}

#navigation .menu-item-5 a {
  color: #F7003F;
  letter-spacing: 0.5px;
}

#navigation ul li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

#navigation ul li.menu-item {
  background-color: #ddd;
}

#navigation ul li:hover {
  text-decoration: underline;
  /*border-bottom: 2px solid #ddd;*/
}

#navigation ul ul {
  border-color: #fff;
  border-style: solid;
  border-width: 4px;
  display: none;
  left: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  /*background: #fff;*/
}

#navigation ul ul li {
  float: none;
  width: 200px;
}

#navigation ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#navigation ul ul ul {
  top: 0;
  left: 100%;
}

#navigation ul li:hover > ul {
  display: block;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*** Chrome and Safari ***/
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*** Firefox ***/
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*** Internet Explorer ***/
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*** Opera ***/
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*** About Box Content ***/
.menu-item-3-content {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  display: none;
  left: 566px;
  list-style: none;
  margin: 50px 0;
  opacity: 0.7;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  top: 330px;
  width: 44.3%;
}

.menu-item-3-p {
  color: #333;
  font-size: 14px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300px;
  line-height: 160%;
  padding: 0 15px;
}

/*** Resume Scroll Box ***/
.menu-item-4-content {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  color: #333;
  display: none;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;
  font-weight: 300px;
  height: 340px;
  left: 566px;
  list-style: none;
  line-height: 160%;
  margin: 50px 0;
  opacity: 0.7;
  overflow: auto;
  padding: 10px 20px;
  position: absolute;
  text-decoration: none;
  top: 330px;
  width: 44.9%;
}

.menu-item-4-content h1 {
  font-size: 20px;
  margin-bottom: -9px;
}

.menu-item-4-content h2 {
  font-size: 18px;
  margin: 20px 0 -15px 0;
  text-decoration: underline;
}

.skill-list td {
  font-size: 14px;
  padding-right: 75px;
}

.company {
  font-size: 15px;
  font-weight: bold;
}

.location-date {
  font-size: 15px;
  margin-top: -19px;
}

.title {
  margin: -19px 0 -10px 0;
}
