@import url(http://fonts.googleapis.com/css?family=Quicksand);

body {
  background-color: #1c1c1c;
}

/*h1 {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  height: 0 auto;
}*/

/******************
Nav-bar
******************/
.current {
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

}

.current li {
  float: left;
}

.current a:link, a:visited {
  background-color: #98bf21;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  width: 200px;
}

.current a:hover, a:active {
  background-color: #7A991A;
}

/******************
Body-Container
******************/
.body-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.body-container > h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

/******************
Footer-bar
******************/
.page-footer {
  background-color: rgba(55,61,73,0.975);
  color: gray;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
}
  .page-footer ul {
    margin: 0;
    padding: 0;
    color: gray;
  }
    .page-footer ul li {
      /*display: inline-block;*/
      margin: 0;
      list-style-type: none;
    }

