@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/*** Base Elements ***/
body {
  background-image: url("../images/macbook.jpg");
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  color: #d5d5d5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}


/*** Introduction ***/
.big-container {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.logo {
  border: 1px solid orange;
  flex-grow: 1, flex-shrink: 1, flex-basis: 20em;
}

.logo h1 {
  font-size: 5.625em;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -1px;
  text-align: center;
  position: relative;
  top: 2.225em;
  left: 0.262em;
}

.sub-container {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  border: 1px solid orange;
  width: 55%;
}

h2 {
  font-size: 3.438em;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 3.125em;
  position: relative;
  top: 3.79em;
  padding-left: 0.57em;
}

.sub-container hr {
  background-color: #727272;
  height: 0.5px;
  margin: 0;
  padding: 0 0 1.05px 0;
  width: 85.5%;
  position: relative;
  top: 9.26em;
  left: 2em;
}

/*** Navbar ***/
.nav-items {
  display: flex;
  flex-direction: row;
}

.nav-items li {
  position: relative;
  top: 14.4em;
  left: -1.2em;
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  padding: 0 46px;
}

.nav-items a {
  color: #F7003F;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.welcome-tab a {
  color: #333;
  background-color:#fff;
  border-color: #fff;
  border-style: solid;
  border-width: 0.8em 4em;
}
