  <div class="navigation" id="navigation">
    <ul class="current">
      <li>
        <a href="index.html" title="home">Welcome</a>
      </li>
      <li>
        <a href="about.html" title="about">About Me</a>
      </li>
      <li>
        <a href="portfolio.html" title="portfolio">Portfolio</a>
      </li>
      <li>
        <a href="resume.html" title="resume">Resume</a>
      </li>
      <li>
        <a href="contact.html" title="contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="body-container" id="body-container">
    <!-- <h1>Hello, my name is Joe Teo and I am a web developer.</h1> -->

    <img src="../images/selfportrait.jpg" alt="self portrait" style="width:80%; height:80%">

    <div class="this way button">
      <a id="this way" name="this way">
    </div>
    <div class="main" style="203.2px;">
      <div class="maincontent title">
    </div>
  </div>

  <footer class="page-footer">
    <h2>Dev Team</h2>
    <ul>
      <li>Team Fusion</li>
      <a href="">Team Fusion</a>
    </ul>
    <h2>Contact Me</h2>
    <ul>
      <li>Joe Teo</li>
<!--       <li>Address:</li> -->
      <li>Email:
        <a href="mailto:joekteo@gmail.com" title="Email">joekteo@gmail.com</a>
      </li>
      <li>Cell: 949.526.0081</li>
      <li>Github:
        <a href="https://github.com/joekteo" title="Github">https://github.com/joekteo</a>
      </li>
      <li>LinkedIn:
        <a href="https://www.linkedin.com/in/joekteo" title="LinkedIn">https://www.linkedin.com/in/joekteo</a>
      </li>
    </ul>
    <i class="fa fa fa-linkedin-square fa-5x"></i>
    <i class="fa fa-github-square fa-5x"></i>
    <i class="fa fa-envelope-square fa-5x"></i>
  </footer>