<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="keep striving - a great attitude becomes a great day">
  <meta name="author" content="Joe Teo">
  <title>Joe Teo - Resume</title>
  <link rel="stylesheet" href="../stylesheets/resume.css" media="all">
  <link rel="stylesheet" type="text/css" href="../stylesheets/css/font-awesome.min.css">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <script src="../javascripts/pace.min.js"></script>
  <link href="../stylesheets/pace.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../javascripts/resume.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <div class="container">
    <div class="header">
      <img src="http://www.placehold.it/500x85" alt="" />
      <nav role='navigation'>
        <ul>
          <li><a href="#">Return Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Clients</a></li>
           <li class="menu-item-5" id="fadeOut-item-4">
          <a href="#">Contact_</a>
          <ul>
            <li class="dir">
              <a href="https://www.linkedin.com/in/joekteo" title="LinkedIn"><i class="fa fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
            </li>
            <li class="dir">
              <a href="https://github.com/joekteo" title="Github"><i class="fa fa-github-square fa-lg"></i> GitHub</a>
            </li>
            <li class="dir">
              <a href="mailto:joekteo@gmail.com" title="Email"><i class="fa fa-envelope-square fa-lg"></i> Email</a>
            </li>
        </ul>
      </nav>
    </div>

  </div>
  <!-- <h1>Resume</h1> -->
  <div class="resume-box">
  </div>
  <h2>Contact</h2>
  <h3 itemprop="name">
    <img alt="profile-photo" itemprop="photo" src="../images/profile.jpg">
    "Joe Teo"
  </h3>

  <h2>Profile</h2>
  <p>I’m a web developer with a background in art, education, and business development. I am passionate about creating applications with great user experience and eager about using the latest frameworks and tools to accomplish this goal.</p>
  <h2>Skill Summary<h2>
  <table class="proficient">
    <p>Proficient</p>
    <tr>
      <td>JavaScript</td>
      <td>Node.js</td>
    </tr>
    <tr>
      <td>AngularJS</td>
      <td>Mongoose</td>
    </tr>
    <tr>
      <td>HTML/Slim</td>
      <td>jQuery</td>
    </tr>
    <tr>
      <td>CSS/Stylus</td>
      <td>Twitter Bootstrap</td>
    </tr>
  </table>

  <table class="developing">
    <p>Developing</p>
    <tr>
      <td>Ruby on Rails</td>
      <td>PostgreSQL</td>
    </tr>
    <tr>
      <td>Meteor.js</td>
      <td>MongoDB</td>
    </tr>
    <tr>
      <td>Ember.js</td>
      <td>TDD/BDD</td>
    </tr>
    <tr>
      <td>Backbone.js</td>
      <td>UXD</td>
    </tr>
  </table>
  <h2>Experience</h2>
  <p>Rails Girls Hong Kong<span>Hong Kong, China, September 2014</span></p>
  <span>Coach</span>
  <p>A global nonp​rofit volunteer community that offers crash​courses around the world for women interested in entering the exciting world of building web applications. The aim is to give tools and a community for women to understand technology and to build their ideas. The curriculum includes wireframing, basic programming, and introduction to Ruby on Rails.</p>
  <p>Coding Workshop: Kids Coding Summer Camp<span>Hong Kong, China, September 2014</span></p>
  <span>Assistant Instructor</span>
  <p>Instruct children aged 4­​14 years old in basic programming concepts, develop their problem s​olving skills, and to create their personal app.</p>
  <h2>Education</h2>
  <p>Code Fellows, Seattle, Washington, 2014</p>
  <p>Full­stack JavaScript Development, Certificate</p>
  <p>Temple University Japan (Tyler School of Art), Tokyo, Japan, 2011</p>
  <p>Digital Media, Bachelor of Art</p>
</body>
</html>
